<%- include('header', {title: 'Login Page'}) %>
<header>
  <%- include('navbar') %>
</header>
<div class="container-fluid justify-content-center w-100" style="margin-top: 40px; justify-content: center; padding: 0 10%;">
  <h2 class="text-center pt-5">Login</h2>
  <div class="conatiner d-flex flex-row p-0 px-lg-5 rounded">
      <div class="container d-none d-md-flex p-0 shadow">
        <img class="w-full rounded-start" src="<%= image %>" alt="Login Image" srcset="<%= image %>" style="object-fit: cover; width: 100%;">
        <div class="position-absolute p-5 text-white mt-5" style="width: 30%;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-50 left-50 mb-3" style="margin-left: 25%; fill: #ffffff"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M406.5 399.6C387.4 352.9 341.5 320 288 320l-64 0c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3l64 0c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z"/></svg>
          <h1 class="mb-3 text-center">Hello</h1>
          <h5 class="mb-3 text-center">Welcome Back</h5>
        </div>
      </div>
      <form id="login-form" class="row justify-content-center w-100 align-middle m-0 shadow rounded" style="padding: 10% 10%; justify-content: center; margin-right: 0; background-color: #dddddd;"
       method="post" action="/login">
        <p style="font-size: 10px; font-weight: 700; color: #ff0000;">* Required</p>
        <p id="error" class="rounded text-center text-danger mb-2 p-2"></p>
        <div class="mb-3">
          <label for="email" class="form-label">Email address *</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password *</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-5 ps-5 ps-md-3">
          <input id="showpassword" type="checkbox" class="form-check-input">
          <label for="showpassword">Show Password</label>
        </div>
        <button type="submit" class="btn btn-primary w-75" onsubmit="(e) => validateForm(e)">Submit</button>
      </form>
  </div>
</div>
<script>
  $(document).ready(() => {
    $("#showpassword").click((e) => {
      let password = document.getElementById("password");
      password.type = e.target.checked ? "text": "password";
    });

    $('#login-form').submit(async (e) => {
      e.preventDefault(); 
      let email = document.getElementById("email").value;
      let password = document.getElementById("password").value;
      const regex = /^[a-zA-Z0-9.-_]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
      let text;
      let error_msg = document.getElementById("error");

      if (email == "" || email == null || !regex.test(String(email).toLowerCase())) {
        text = "Email should be valid";
      } else if (password == "" || password == null || password.length < 8) {
        text = "Password should contain at least 8 characters";
      } else {
        try {
          let req = await fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded"
            },
            body: new URLSearchParams({
              email,
              password
            })
          });

          let res = await req.json();
          if (!res.success) {
            error_msg.classList.add("border", "border-danger");
            error_msg.innerText = res.message;
          } else {
            location.href = "/";
          }
        } catch (error) {
          console.error("Error occurred while logging in: ", error);
          error_msg.classList.add("border", "border-danger");
          error_msg.innerText = "An error occurred. Please try again.";
        }
      }

      if (text) {
        error_msg.classList.add("border", "border-danger");
        error_msg.innerText = text;
      }
    });
  });
</script>

<%- include('footer') %>